@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Fira+Sans:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	background: rgb(65,184,131);
  background: -moz-linear-gradient(180deg, rgba(65,184,131,1) 0%, rgba(52,73,94,1) 60%);
  background: -webkit-linear-gradient(180deg, rgba(65,184,131,1) 0%, rgba(52,73,94,1) 60%);
  background: linear-gradient(180deg, rgba(65,184,131,1) 0%, rgba(52,73,94,1) 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#41b883",endColorstr="#34495e",GradientType=1);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.parent-container{
  display: flex;
	justify-content: center;
	align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.todo-child-continer{
  background-color: white;
}

.task-details-parent{
  display: flex;
  justify-content: end;
  background-color: #cac2c2ea;
  padding-right: 1rem;
}

.tasks-details-child{
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

main > p {
  color:white;
  font-size: 5rem;
}

.tasks{
  background-color:#2169B0;
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  padding-top: 0.125rem; 
  padding-bottom: 0.125rem; 
  align-items: center;
  border-radius: 20px; 
}

.tasks > p:first-child {
  color: white;
  margin-right: 0.2rem;
  margin-left: 0.4rem;
  font-weight: bold;
}

.circle-number{
  background-color: white;
  color: #2169B0;
  display: inline-block;
  width: 1.8rem; 
  height: 1.8rem; 
  line-height: 1.75rem;
  text-align: center; 
  border-radius: 50%; 
  font-weight:600;
}

.grid-container-trash {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: #FF5C46;
  align-items: center;
  margin-right: .0629rem;
}

.grid-container-trash:hover{
  cursor: pointer;
}

.delete-task-word{
  color: white;
  padding-right: .3125rem;
  font-weight:700;
}

.font-awesome-trash-icon{
  color:white;
  padding-left: 1.2rem;
}


.list-of-taks{
  font-weight: bold;
  font-size: 1.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top:0.2rem;
  padding-bottom: 0.2rem;
}



.scrollable-wrapper{
  max-height: 11.25rem;
  overflow-y: auto;
}

.accept-input-parent {
  background-color: rgba(202,194,194,0.91765);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.accept-input-child {
  margin-top: 8px;
  margin-bottom: 8px;
  border: 3px solid #3584c5;
  border-radius: 30px;
  padding: 12px;
  width: 95%;
  color: #3584c5;
  transition: color 0.3s;
  font-weight: bold;
  &::placeholder {
    font-weight: bold;
    color: #4a5055;
  }
  &:focus {
    color: #3584c5;
    outline: none;
  }
  &:focus::placeholder {
    color: #3584c5;
  }
}

.submit-button {
  color: #3584c5;
  font-size: 2rem;
  position: absolute;
  right: 2rem;
  cursor: pointer;
}

.submit-button:hover{
  color: #0b4575;
}

.grid-text-and-icon{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-content: center;
  align-items: center;
}
.list-of-task-container-parent {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 0.3rem;
  margin-top: 0.3rem;
}

.block{
  display: block;
}
.font-awesome-trash-icon-red:hover {
  color: #ff5c46 !important;
  cursor: pointer !important;
}

.list-of-task-container-child {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  display: flex;
  align-content: center;
  align-items: center;
  border: 1px solid #1a1d1c4b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.3125rem;
}

.list-of-task-container-child:hover {
  background-color: #ededed;
}

.list-of-task-container-child:hover .font-awesome-trash-icon-red{
  color: #ff5c46 !important;
  cursor: pointer !important;
}

.list-of-taks-false{
  color:black
}

.list-status-false{
  font-weight: bold;
}
.list-of-taks-false:hover{
  cursor: default;
}

.list-of-taks-true{
  color:gray
}

.list-of-taks-true:hover{
  cursor: default;
}


.check-color-false{
  color:#469c7d;
  font-size: 1.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top:0.2rem;
  padding-bottom: 0.2rem;
}

.check-color-false{
  cursor: pointer;
}

.check-color-true{
  color:grey;
  font-size: 1.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top:0.2rem;
  padding-bottom: 0.2rem;
}

.check-color-true:hover{
  cursor: pointer;
}

.check-color-false:hover{
  color:#0d553b;
}

.font-awesome-trash-icon-red{
  padding-left: 18rem;
  padding-right: 1rem;
  color:white;
  font-size:1.9rem;
}

.parent-container {
  position: relative; /* Position relative container */
}

.lower-left {
  position: absolute;
  bottom: 20px; 
  right: 20px;
}

.show-info-container{
  background-color: #3584C5;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 3px;
}

.show-info-container:hover{
  cursor: pointer;
}

.show-info-container > p {
  color:white;
  font-size: 1rem;
}

.hide-info-contianer > p{
  color:white;
  font-weight: bold;
}

.hide-info-contianer{
  display: flex;
  background-color: #00244D;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.4rem;
  padding-bottom:0.4rem;
  border-radius: 1rem;
}


.x-mark{
  color:black;
  font-size: 1.5rem;
  margin-left: 7px;
}

.x-mark:hover{
  color:white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .parent-container{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  main > p {
    color:white;
    font-size: 4rem;
  }
  
.tasks > p:first-child {
    font-size: 10px;
  }
.delete-task-word{
    font-size: 10px;
    padding-right: 1rem;
  }

  .hide-info-contianer > p{
    font-size: 13px;
  }
}